/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --color-1: #ffffff;
  --color-2: #f5f5f5;
  --color-3: #76758c;
  --color-4: #212529;
  --color-5: #3c2373;
  --color-6: #5aff81;
  --color-7: #53ea76;
  --color-8: #f14d3b;
  --color-A: #1b93c2;
  --color-B: #cf1222;
  --color-C: #015a9b;
  --color-D: #05735f;
  --color-E: #661371;
  --color-H: #f0cd1f;
  --color-P: #ffb71b;
  --color-U: #da6c2b;
}

html {
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-2);
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-6);
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  color: #333;
  margin: 15px;
}

#ingreso-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  width: 60vw;
  padding: 2rem 3rem 1rem 3rem;
  background-color: var(--color-1);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

#ingreso-form > div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.inputs {
  padding: 8px;
  width: 250px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.submitbutton {
  z-index: 100;
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--color-6);
  color: var(--color-4);
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.submitbutton:hover {
  color: var(--color-1);
  background-color: #4caf51;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

#cantidad {
  width: 3.5rem;
  height: 3rem;
  text-align: center;
  margin-bottom: 0;
}

#cantidad::-webkit-inner-spin-button,
#cantidad::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divcantidad {
  margin: 0 10rem;
}
.row {
  display: flex;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 3rem;
}
.increment,
.decrement {
  height: 50%;
}

.eliminarbutton {
  display: flex;
  gap: 1rem;
  position: fixed;
  right: -200px;
  bottom: 10vh;
  background-color: var(--color-4);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-1);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100;
}

.eliminarbutton:hover {
  color: var(--color-4);
  background-color: var(--color-8);
  right: 0;
}

.marcado {
  animation: moverbtn 0.5s ease-in-out;
}

@keyframes moverbtn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
    background-color: var(--color-8);
  }
  100% {
    transform: translateX(0);
  }
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 3rem;
  text-align: center;
  transition: all 0.3s ease;
}

a {
  display: block;
  background-color: var(--color-5);
  color: var(--color-1);
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s ease;
  padding: 20px 30px;
  font-weight: 500;
}

a:hover {
  background-color: var(--color-4);
  border-radius: 3px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

main {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter > button {
  background-color: #c8c8c8;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s;
}

.filter > button:hover {
  background-color: #aaa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

footer {
  bottom: 0;
  background-color: var(--color-5);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.footer-img {
  width: 20vw;
  height: auto;
  margin: 30px;
}

.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  cursor: pointer;
}

.context-menu div {
  padding: 8px;
  white-space: nowrap;
}

.context-menu div:hover {
  background-color: #f0f0f0;
}
