/* styles-datatables.css */

@import url(styles.css);

table {
  width: 80vw;
  border-collapse: collapse;
  margin-bottom: 2rem;
  font-size: 15px;
}

table th {
  background-color: #eee;
  padding: 10px 25px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ddd;
}
table.dataTable thead th {
  text-align: center;
}

table td {
  padding: 10px 5px;
  border: 1px solid #ddd;
  text-align: center;
}

td > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: font-weight 0.1s;
  color: var(--color-4);
  font-size: 16px;
  padding: 0;
}

td > button:hover {
  color: var(--color-8);
  font-weight: 600;
}

.checkbox-cell input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.checkbox-cell input[type="checkbox"]:checked {
  background-color: var(--color-5);
  border-color: var(--color-5);
  color: #fff;
  border-radius: 50%;
}

.marcada {
  background-color: rgba(255, 89, 89, 0.5) !important;
}

#equipos-table_wrapper,
#internos-table_wrapper {
  margin-bottom: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 12rem;
  max-width: 97vw;
  min-width: 70vw;
}

.row {
  align-items: center;
  justify-content: center;
}

#equipos-table {
  max-width: 90vw;
}

.dataTables_filter {
  padding: 15px 0 0 15px;
}

.dataTables_filter input {
  width: 200px;
  border-radius: 5px;
  padding: 5px;
}

#internos-table th {
  padding: 0;
  border: 0;
}

#internos-table {
  width: 80vw !important;
}

td:nth-child(1) {
  width: 40px;
}
td:nth-child(2) {
  width: 130px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.A {
  background-color: var(--color-A);
}
.B {
  background-color: var(--color-B);
}
.C {
  background-color: var(--color-C);
}
.D {
  background-color: var(--color-D);
}
.E {
  background-color: var(--color-E);
}
.H {
  background-color: var(--color-H);
}
.P {
  background-color: var(--color-P);
}
.U {
  background-color: var(--color-U);
}
.n-a {
  color: var(--color-4);
  font-size: 14px;
}
