/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  box-sizing: border-box;
  -moz-user-select: none;
  user-select: none;
}

:root {
  --color-0: #000000;
  --color-1: #ffffff;
  --color-2: #212529;
  --primary-color: #171717;
  --secondary-color: #555;
  --bg-color: #212121;
  --n-color: #991b1b;
  --p-color: rgba(46, 255, 91, 0.8);
  --color-A: #1b93c2;
  --color-B: #cf1222;
  --color-C: #015a9b;
  --color-D: #05735f;
  --color-E: #661371;
  --color-H: #f0cd1f;
  --color-P: #ffb71b;
  --color-U: #da6c2b;
}

html {
  min-height: 100vh;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  min-height: 100vh;
}

* {
  color: var(--color-1);
}

input {
  color: var(--color-0);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-0);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-1);
}

.flex {
  margin: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cumpleContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 150px;
}

.cumpleContainer > * {
  margin-bottom: 10px;
}

.cumpleaños {
  flex-direction: column !important;
  width: 150px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s !important;
}

.hoy {
  animation: intermitente 1s infinite;
}

@keyframes intermitente {
  0%,
  100% {
    border: 1px solid yellow;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.5);
  }
  50% {
    border: 1px solid var(--color-1);
    box-shadow: none;
  }
}

#siguiente {
  background-color: transparent;
  border: none;
}

.chevron {
  color: var(--color-1) !important;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  width: 30px;
  height: 25px;
  border-radius: 5px;
}

.material-symbols-outlined {
  color: white;
}

.hmb {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.lim {
  z-index: 10;
  position: fixed;
  top: 0px;
  left: -170px;
  width: 170px;
  height: 100vh;
  background-color: var(--secondary-color);
  transition: left ease 0.4s;
}

.am {
  background-color: var(--secondary-color);
  padding: 10px 10px 10px 20px;
  background-color: inherit;
  border-radius: 0;
}

.am:hover {
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}

#themeBtn {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  background-color: transparent;
  border: none;
  scale: 1.1;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  margin: 15px;
  font-weight: 400;
}

#ingreso-form {
  color: var(--color-0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  width: 60vw;
  padding: 2rem 3rem 1rem 3rem;
  background-color: var(--color-0);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

#ingreso-form > div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.inputs {
  padding: 8px;
  width: 250px;
  margin-bottom: 12px;
  box-sizing: border-box;
  color: var(--color-0);
}

.submitbutton {
  font-size: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--secondary-color);
  color: var(--color-1);
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.submitbutton:hover {
  color: var(--color-1);
  background-color: #4caf51;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

#cantidad {
  width: 3.5rem;
  height: 3rem;
  text-align: center;
  margin-bottom: 0;
}

#cantidad::-webkit-inner-spin-button,
#cantidad::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.divcantidad {
  margin: 0 10rem;
}
.row {
  display: flex;
}

.controls {
  display: flex;
  flex-direction: column;
  height: 3rem;
}
.increment,
.decrement {
  height: 50%;
  color: var(--color-0);
}

svg {
  margin-right: 5px;
}

.eliminarbutton {
  display: flex;
  gap: 0rem;
  position: fixed;
  right: -186px;
  bottom: 10vh;
  background-color: var(--color-2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  padding: 10px 10px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-1);
  cursor: pointer;
  transition: all 0.3s;
  z-index: 2;
  opacity: 0;
}

.eliminarbutton:hover {
  color: var(--color-2);
  background-color: var(--n-color);
  right: 0;
}

.marcado {
  animation: moverbtn 0.4s ease-in-out;
  opacity: 1;
}

@keyframes moverbtn {
  0% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(-8%);
    background-color: var(--n-color);
  }
  100% {
    transform: translateX(0);
  }
}

.homeMenu {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.homeMenu > div {
  width: 30%;
}

.homeMenu > div > a {
  background-color: var(--color-0) !important;
  color: var(--color-1) !important;
  transition: background-color 0.3s;
}
.homeMenu > div > a:hover {
  background-color: var(--color-2) !important;
}
.homeMenu > div > a > p {
  margin: 0;
}
.homeMenu > div > a > p:first-child {
  font-weight: 700;
}
.homeMenu > div > a > p:last-child {
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  text-align: center;
  transition: all 0.3s ease;
}

a {
  display: block;
  background-color: var(--secondary-color);
  color: var(--color-1);
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.2s ease;
  padding: 20px 30px;
  font-weight: 500;
}

a:hover {
  filter: brightness(1.1);
  border-radius: 3px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

div.context-menu > div:nth-child(3) > span > a {
  padding: unset;
  background-color: unset;
  color: unset;
  font-weight: unset;
  width: 100%;
  height: 100%;
}

body > header > a {
  padding: unset;
  background-color: unset;
  color: unset;
  font-weight: unset;
}

div.context-menu > div:nth-child(3) > span > a:hover,
body > header > a:hover {
  filter: unset;
  border-radius: unset;
  box-shadow: unset;
  transform: unset;
}

.ar {
  display: unset;
  background-color: unset;
  color: unset;
  text-decoration: none;
  border-radius: unset;
  padding: unset;
  font-weight: unset;
}

main {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter > button,
.filter > select {
  text-align: left;
  background-color: var(--secondary-color);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.2s;
}

.filter > button:hover,
.filter > select:hover {
  filter: brightness(1.25);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

footer {
  bottom: 0;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.absolute {
  position: absolute;
}

.footer-img {
  width: 10vw;
  height: auto;
  margin: 20px;
}

.context-menu {
  position: absolute;
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  z-index: 3;
  cursor: pointer;
  border-radius: 2px;
}

.context-menu div {
  padding: 0.6rem;
  white-space: nowrap;
  min-width: 9rem;
}

.hover {
  transition: all 0.2s;
}

.hover:hover {
  background-color: var(--color-1);
  color: var(--color-0);
  border-radius: 0 10px 0 10px;
}

.hover:hover > span {
  color: var(--color-0);
}

.hover:hover .arrow {
  fill: var(--color-0);
}

.sub-menu {
  position: relative;
  padding: 0;
}

.sub-menu > div,
.subMenuLi {
  display: none;
  position: absolute;
  padding: 0;
  top: 0;
  left: 100%;
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: background-color 0.3s;
}

.sub-menu:hover > div {
  display: block;
}

.context-menu > .sub-menu > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.p10 {
  padding-right: 20px !important;
}

.arrow {
  fill: var(--color-1);
  rotate: 90deg;
  margin: 0 0 0 5px;
  transition: rotate 0.3s;
}

.sub-menu:hover .arrow {
  rotate: 180deg;
}

td > button,
.dbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: font-weight 0.1s;
  fill: var(--secondary-color);
  color: var(--color-4);
  font-size: 16px;
  padding: 0;
  transition: all 0.3s;
}

td > button:hover,
.dbtn:hover {
  color: var(--color-8);
  font-weight: 600;
}

svg.dbtn:hover {
  fill: var(--n-color);
}

.comments-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-0);
  color: var(--color-1);
  border-radius: 8px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
  border: none;
  width: 33vw;
  min-height: 50vh;
  max-height: 75vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 3;
  /* overflow-y: auto; */
}

.comments-card > div > h3 {
  margin: 0;
}

#inputComment {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-items: end;
  flex-direction: column;
  justify-content: center;
}

#inputComment input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

#inputComment input[type="text"]:focus {
  outline: none !important;
  border-color: #007bff !important;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

#inputComment button {
  background-color: #ccc;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 1rem;
}

#inputComment button:hover {
  background-color: #aaa;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.comments-card > div > h3,
p {
  margin-bottom: 0.5rem;
}

.lic {
  margin: 0.5rem 0.5rem 0.5rem 0 !important;
  text-align: left;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 1rem;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.lic:hover {
  border: 1px solid var(--color-1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.commentsList {
  overflow-y: auto;
  max-height: 200px;
}

.divDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateSpan {
  opacity: 0.9;
  font-size: 12px;
}

.timeSpan {
  opacity: 0.7;
  font-size: 10px;
}

li > button {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0 0 10px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

li > button:hover {
  opacity: 1;
}

#inputComment > button {
  background-color: var(--p-color);
  color: var(--color-0);
}

#inputComment > button:hover {
  background-color: var(--p-color);
}

.iniciado {
  background-color: rgba(105, 206, 132, 0.5) !important;
}
.en-espera {
  background-color: rgba(255, 255, 153, 0.5) !important;
}
.sin-arreglo {
  background-color: rgba(151, 151, 151, 0.5) !important;
}
.reparado {
  background-color: rgb(0, 204, 102, 0.8) !important;
}

.center {
  text-align: center !important;
}

.prvSlct,
.prvOpt {
  font-size: 15px;
  background-color: var(--color-0);
  color: var(--color-1);
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

.mesActual {
  background-color: var(--secondary-color);
}

.preventivos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

#teaCards,
#telemandosCards {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.c {
  text-align: center;
}

.unidad {
  font-weight: 600;
}

.estado::first-letter {
  text-transform: uppercase;
}

.cantComm {
  position: absolute;
  color: var(--color-1);
  font-size: 12px;
  opacity: 0.5;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: var(--color-0);
  border: 1px solid var(--color-1);
  border-radius: 5px;
  padding: 1rem;
  gap: 10px;
  width: 320px;
  transition: all 0.3s;
}

.card:hover {
  box-shadow: 0 0 30px 5px var(--color-0);
}

.card > h4 {
  margin-bottom: 10px;
}

.linea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.info > p:last-child,
.divTrabajadores > p:last-child {
  margin-bottom: 0;
}

.realizado {
  border: 3px solid var(--p-color);
  box-shadow: 0px 0px 3px var(--p-color);
}
.realizado:hover {
  box-shadow: none;
}
.vencido {
  border: 3px solid var(--n-color);
  box-shadow: 0px 0px 3px var(--n-color);
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.A {
  background-color: var(--color-A);
}
.B {
  background-color: var(--color-B);
}
.C {
  background-color: var(--color-C);
}
.D {
  background-color: var(--color-D);
}
.E {
  background-color: var(--color-E);
}
.H {
  background-color: var(--color-H);
}
.P {
  background-color: var(--color-P);
}
.U {
  background-color: var(--color-U);
}
.n-a {
  color: var(--color-4);
  font-size: 14px;
}
